.spnsrs {
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap:6vw 10vw;
}

.spnsr {
    max-width:18vw;
}

.spnsr-link {
    text-align:center;
    max-width:min-content;
}