/* .spnsr-main {
    padding-top:190px;
    background-color:var(--mainbackground);
}

#spnsr-title {
    font-family:Joy Multiplication;
    color:white;
    text-align:center;
    font-size:70px;
    margin:0px;
    padding-top:50px;
    padding-bottom:50px;
} */

.spnsrs {
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    flex-wrap:wrap;
    gap:8vw 10vw;
}

.spnsr {
    max-width:18vw;
}

.spnsr-link {
    text-align:center;
    max-width:min-content;
}

/* .spnsr-img {
    flex-basis:33%;
    flex-grow:0;
} */

/* .spnsr {
    display:flex;
    gap:20px;
    margin-bottom:100px;
    margin-left:100px;
    margin-right:100px;
}

.spnsr-logo {
    display:flex;
    flex-wrap:wrap;
    flex:1;
}

.spnsr-logo a {
    background-color:var(--navy);
    color:white;
    text-decoration:none;
    padding:10px;
    border-radius:10px;
    border:1px solid var(--navy);
    transition:background-color 0.2s ease-in-out;
}

.spnsr-logo a:hover {
    background-color:white;
    color:var(--navy);
}

.spnsr-img-container {
    flex-basis:100%;
    flex:1;
}

.spnsr-img-container img {
    width:200px;
    height:200px;
    object-fit:cover;
}

.spnsr-link {
    flex-basis:100%;
}

.spnsr-text {
    text-align:center;
    flex:1;
}

.spnsr-text h1 {
    margin:0px;
}

.spnsr-text p {
    line-height:30px;
}

.reverse {
    flex-direction:row-reverse;
} */