@font-face {
    font-family:Lato;
    src:url('../assets/fonts/lato.ttf');
}

@font-face {
    font-family:Neuterous;
    src:url('../assets/fonts/neuterous.ttf');
}

@font-face {
    font-family:JoyMultiplication;
    src:url('../assets/fonts/joymultiplication.ttf');
}

@font-face {
    font-family:Sabrina;
    src:url('../assets/fonts/sabrina.otf');
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

:root {
    --navy:#030040;
    --navy-light:#252262;
    --navbar-blue:#363b5e;
    --navbar-blue-light:#404882;
    --blue-dark-palette:#242582;
    --blue-palette:#2F2FA2;
    --red-palette:#F64C72;
}

* {
    margin:0em;
    padding:0em;
    font-family:Lato;
    scroll-behavior:smooth;
}

hr {
    margin:1rem auto 3rem auto;
    width:50vw;
}

h1 {
    text-align:center;
    font-size:6em;
}

h2 {
    font-size:2em;
}

h3 {
    font-size:1.2em;
}

li {
    font-size:1em;
}

a {
    font-size:0.85em;
}

nav {
    background-color:var(--navy-light);
    position:fixed;
    width:100vw;
    height:5vh;
    z-index:2;
}

#navbar-desktop {
    position:fixed;
    display:flex;
    justify-content:center;
    gap:60em;
    width:100%;
    height:5em;
    transition:left 0.5s ease-in-out;
    background-color:var(--navy-light);
    z-index:1;
}

#navbar {
    display:flex;
    list-style-type:none;
    background-color:var(--navy-light);
}

.navbar-link {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1em;
    text-decoration:none;
    color:white;
    border-bottom:1px solid transparent;
    transition:background-color 0.2s, color 0.2s, border-bottom 0.2s;
}

.navbar-link:hover {
    color:var(--red-palette);
    border-bottom:1px solid var(--red-palette);
    transition:background-color 0.2s, color 0.2s, border-bottom 0.2s;
}

#active {
    color:var(--red-palette);
    border-bottom:1px solid var(--red-palette);
    transition:background-color 0.2s, color 0.2s, border-bottom 0.2s;
}

#navbar-name {
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:JoyMultiplication;
    text-decoration:none;
    color:white;
    font-size:2em;
    transition:color 0.5s;
}

#navbar-name:hover {
    color:var(--red-palette);
    transition:color 0.5s;
}

#navbar-mobile {
    height:100%;
    display:flex;
    justify-content:right;
    align-items:center;
}

#ham-menu {
    height:95vh;
    width:100vw;
    top:5vh;
    display:none;
    position:fixed;
    background-color:var(--navy-light);
    z-index:2;
}

#ham-menu-icon {
    margin-right:1em;
    font-size:4em;
    color:white;
}

#navbar-m {
    display:flex;
    flex-direction:column;
    align-items:center;
    padding-top:5em;
    gap:1em;
}

.navbar-mobile-link {
    width:100vw;
    text-align:center;
    color:white;
    text-decoration:none;
    font-size:5em;
    padding:1em;
    border-bottom:5px solid var(--red-palette);
}

#header {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0;
    background-color:var(--navy);
}

#title {
    font-family:Sabrina;
    font-size:3em;
    text-align:center;
    color:white;
    animation:fadeIn ease 2s;
}

#title-name {
    font-family:Sabrina;
    font-size:3em;
}

#about {
    padding:6rem 10rem 0rem 10rem;
}

#about-body {
    display:flex;
    gap:4em;
}

#about-image-container {
    display:flex;
    flex-basis:50%;
    justify-content:right;
}

#about-image {
    border-radius:50%;
    height:20em;
    width:20em;
}

.divider {
    width:3px;
    background-color:#DDD;
}

#about-description-container {
    flex-basis:50%;
    display:flex-start;
    align-items:center;
}

#about-description {
    width:75%;
}

#about-description h1 {
    text-align:left;
    font-size:4em;
}

#about-description h2 {
    margin-bottom:1em;
    font-size:2em;
}

#about-description h3 {
    margin-bottom:2em;
    font-size:1.2em;
}

#resume {
    border-radius:10%;
    padding:1em;
    background: linear-gradient(var(--navbar-blue-light) 50%,var(--navy-light) 50%);
    background-size:100% 200%;
    background-position:100% 100%;
    color:white;
    text-decoration:none;
    transition:background 0.5s, color 0.5s;
}

#resume:hover {
    color:var(--red-palette);
    background-position:0% 0%;
    transition:background 0.5s, color 0.5s;
}

#experience {
    padding:6rem 10rem 0rem 10rem;
    color:white;
}

.experience-item {
    margin-top:2em;
    padding:3em;
    background-color:var(--navy-light);
    border-radius:1em;
    cursor:pointer;
}

.experience-header {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.dropdown-triangle {
    width:0; 
    height:0; 
    border-left:15px solid transparent;
    border-right:15px solid transparent;
    border-top:25px solid var(--red-palette);
    transform:rotate(0deg);
    transition:transform 0.5s;
}

.flip {
    transform:rotate(180deg);
    transition:transform 0.5s;
}

.experience-body {
    display:none;
}

.experience-body ul {
    margin-top:1em;
    list-style-type:none;
}

#projects {
    padding:6rem 10rem 0rem 10rem;
}

#projects-body {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:3em 3em;
}

.projects-item {
    position:relative;
}

.projects-image-container {
    outline:2px solid var(--navy-light);
    width:35em;
    height:23em;
}

.projects-image {
    height:100%;
    width:100%;
}

.projects-caption {
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(37, 34, 98, 0.8); /*#252262*/
    font-size:2em;
    color:var(--red-palette);
    visibility:none;
    opacity:0;
    transition:opacity 0.5s;
}

.projects-caption:hover {
    visibility:visible;
    opacity:1;
    transition:visbility 0.5s, opacity 0.5s;
}

#skills {
    padding:6rem 10rem 0rem 10rem;
}

#skills-list {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:2em 4em;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    list-style-type:none;
}

.skills-item {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:0.5em;
    min-width:12em;
    min-height:6em;
    text-align:center;
    border-radius:1em;
    background-color:var(--navy-light);
    color:white;
    opacity:0;
    transform:translateY(-3em);
    transition:opacity 0.5s, transform 0.5s;
    cursor:default;
}

.skills-item:hover {
    background-color:var(--navbar-blue-light);
    color:var(--red-palette);
    transition:color 0.5s, background-color 0.5s;
}

.skills-item-fade {
    opacity:100;
    transform:translateY(0);
    transition:opacity 0.5s, transform 0.5s, color 0.5s, background-color 0.5s;
}

.skills-item p {
    font-family:JoyMultiplication;
    font-size:1.5em;
}

.skills-icon {
    height:2.5em;
}

#contact {
    padding:6rem 10rem 0rem 10rem;
}

footer {
    display:flex;
    flex-direction:column;
    background-color:var(--navy-light);
    padding:1rem;
}

#socials {
    display:flex;
    align-items:center;
    justify-content:center;
    gap:1rem;
}

.socials-icon { 
    max-width:3rem;
    transition:transform 0.2s;
    transform:scale(1);
}

.socials-icon:hover {
    transition:transform 0.2s;
    transform:scale(1.15);
}

#copyright {
    font-size:1.5em;
    text-align:center;
    color:white;
}