@font-face {
    font-family:Lato;
    src:url('../assets/fonts/lato.ttf');
}

@font-face {
    font-family:Neuterous;
    src:url('../assets/fonts/neuterous.ttf');
}

@font-face {
    font-family:JoyMultiplication;
    src:url('../assets/fonts/joymultiplication.ttf');
}

@font-face {
    font-family:Sabrina;
    src:url('../assets/fonts/sabrina.otf');
}

:root {
    --navy:#030040;
    --navy-light:#252262;
}

* {
    margin:0vw;
    padding:0vw;
    font-family:Lato;
}

/* Header */
header {
    margin:0vw;
    padding:0vw;
    background-color:var(--navy);
}

#navbar {
    display:flex;
    float:right;
    margin-left:100%;
    margin:2vw;
    list-style-type:none;
}

.navbar-item {
}

.navbar-link {
    padding:1vw;
    color:white;
    text-decoration:none;
    transition:background-color 0.2s ease-out;
}

.navbar-link:hover {
    background-color:var(--navy-light);
    transition:background-color 0.2s ease-in;
}

#title {
    font-family:Lato;
    font-size:3vw;
    text-align:center;
    opacity:100;
    transition:opacity 2s;
    padding:24vw;
    color:white;
}

#name {
    font-family:Sabrina;
    font-size:6vw;
    /* -webkit-text-stroke-width:0.1vw;
    -webkit-text-stroke-color:black; */
}

#socials {

}

.socials-icon {
    background-color:white;
    position:relative;
    width:2vw;
}

#about {
    /* background-color:#124000; */
    padding:4vw;
}

#experience {
    padding:4vw;
}

#skills {
    padding:4vw;
}

#contact {
    padding:4vw;
}