@font-face {
    font-family:Lato;
    src:url('../assets/fonts/lato.ttf');
}

@font-face {
    font-family:Neuterous;
    src:url('../assets/fonts/neuterous.ttf');
}

@font-face {
    font-family:JoyMultiplication;
    src:url('../assets/fonts/joymultiplication.ttf');
}

@font-face {
    font-family:Sabrina;
    src:url('../assets/fonts/sabrina.otf');
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

:root {
    --navy:#030040;
    --navy-light:#252262;
    --grey:#242424;
    --grey-light:#383838;
    --navbar-blue:#363b5e;
    --navbar-blue-light:#404882;
}

* {
    margin:0vw;
    padding:0vw;
    font-family:Lato;
    scroll-behavior:smooth;
}

hr {
    background-color:#cfcfcf;
    margin:2vh;
    width:100%;
}

h1 {
    text-align:center;
    font-size:6vw;
}

h2 {
    font-size:1.4vw;
}

h3 {
    font-size:1vw;
}

li {
    font-size:0.85vw;
}

a {
    font-size:0.85vw;
}

nav {
    position:fixed;
    display:flex;
    flex-direction:column;
    background-color:var(--navbar-blue);
    height:100%;
    gap:3vw;
    min-width:10vw;
    left:-10vw;
    transition:left 0.5s ease-in-out;
}

.open {
    left:0vw;
    transition:left 0.5s ease-in-out;
}

#navbar {
    display:flex;
    flex-direction:column;
    list-style-type:none;
    height:100%;
    min-width:10vw;
    background-color:var(--navbar-blue);
}

/* .navbar-item {
    width:auto;
    height:auto;
    text-align:center;
    border:0.1vw solid red;
} */

.navbar-link {
    text-align:center;
    padding:1vw;
    color:white;
    text-decoration:none;
    transition:background-color 0.2s ease-out;
    /* border:1px solid red; */
}

.navbar-link:hover {
    background-color:var(--navbar-blue-light);
    transition:background-color 0.2s ease-in;
}

#logo {
    max-width:10vw;
}

#header {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0vw;
    background-color:var(--navy);
}

#title {
    font-family:Lato;
    font-size:3vw;
    text-align:center;
    color:white;
    animation:fadeIn ease 2s;
}

#name {
    font-family:Sabrina;
    font-size:6vw;
}

#socials {

}

.socials-item {
    background-color:white;
    position:relative;
    width:2vw;
}

#about {
    padding:4vw;
}

#about-body {
    display:flex;
}

#experience {
    padding:4vw;
}

.experience-item {
    cursor:pointer;
    margin-top:2vw;
    padding:2vw;
    border:0.3vw solid red;
}

#boop {
    display:hidden;
}

#skills {
    padding:4vw;
}

#projects {
    padding:4vw;
}

#contact {
    padding:4vw;
}

/* .text {
    height: 100px;
    overflow: hidden;
}
.container {
    position: relative;
}
label {
    position: absolute;
    top: 100%;
}
input {
    display: none;
}
label:after {
    content: "Show More";
}
input:checked + label:after {
    content: "Show Less";
}
input:checked ~ div {
    height: 100%;
} */