@font-face {
    font-family:Lato;
    src:url('../assets/fonts/lato.ttf');
}

@font-face {
    font-family:Neuterous;
    src:url('../assets/fonts/neuterous.ttf');
}

@font-face {
    font-family:JoyMultiplication;
    src:url('../assets/fonts/joymultiplication.ttf');
}

@font-face {
    font-family:Sabrina;
    src:url('../assets/fonts/sabrina.otf');
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

:root {
    --navy:#030040;
    --navy-light:#252262;
    --grey:#242424;
    --grey-light:#383838;
    --navbar-blue:#363b5e;
    --navbar-blue-light:#404882;
}

* {
    margin:0vw;
    padding:0vw;
    font-family:Lato;
    scroll-behavior:smooth;
}

hr {
    margin:2vh auto 7vh auto;
    width:50vw;
}

h1 {
    text-align:center;
    font-size:6vw;
}

h2 {
    font-size:1.4vw;
}

h3 {
    font-size:1vw;
}

li {
    font-size:0.85vw;
}

a {
    font-size:0.85vw;
}

nav {
    position:fixed;
    display:flex;
    gap:50vw;
    width:100%;
    height:4vw;
    transition:left 0.5s ease-in-out;
    background-color:var(--navbar-blue);
}

#navbar {
    display:flex;
    list-style-type:none;
    height:100%;
    min-width:10vw;
    background-color:var(--navbar-blue);
}

.navbar-link {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1vw;
    color:white;
    text-decoration:none;
    transition:background-color 0.2s ease-out;
}

.navbar-link:hover {
    background-color:var(--navbar-blue-light);
    transition:background-color 0.2s ease-in;
}

#active {
    background-color:var(--navbar-blue-light);
    transition:background-color 0.2s ease-in;
}

#navbar-name {
    margin-left:2vw;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:JoyMultiplication;
    text-decoration:none;
    color:white;
    font-size:2vw;
    transition:color 0.5s;
}

#navbar-name:hover {
    color:yellow;
    transition:color 0.5s;
}

#header {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0vw;
    background-color:var(--navy);
}

#title {
    font-family:Lato;
    font-size:3vw;
    text-align:center;
    color:white;
    animation:fadeIn ease 2s;
}

#title-name {
    font-family:Sabrina;
    font-size:6vw;
}

#about {
    padding:4vw;
}

#about-body {
    display:flex;
    gap:5vw;
}

#about-image-container {
    display:flex;
    justify-content:flex-end;
    flex-basis:50%;
}

#about-image {
    border-radius:50%;
    height:20vw;
    width:20vw;
}

#about-description-container {
    flex-basis:50%;
    display:flex;
    align-items:center;
}

#about-description {
    width:75%;
}

#about-description h1 {
    text-align:left;
    font-size:4vw;
}

#about-description h2 {
    margin-bottom:3vh;
    font-size:2vw;
}

#about-description h3 {
    margin-bottom:3vh;
    font-size:1vw;
}

#about-info {
    display:flex;
    flex-wrap:wrap;
}

#about-info p {
    font-size:0.9vw;
    width:50%;
}

#experience {
    padding:4vw;
}

.experience-item {
    cursor:pointer;
    margin-top:2vw;
    padding:2vw;
    border:0.3vw solid red;
}

.collapse {
    display:none;
}

#skills {
    padding:4vw;
}

#skills-list {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:5vh 5vw;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    list-style-type:none;
}

.skills-item {
    padding:0vh 0.5vw;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:1vh;
    width:10vw;
    height:12.5vh;
    text-align:center;
    border-radius:1vw;
    background-color:#DDD;
    color:black;
    transition:background-color 0.3s, color 0.3s;
}

/* .skills-item:hover {
    background-color:#2c3470;
    color:white;
    transition:background-color 0.3s, color 0.3s;
} */

.skills-item p {
    font-family:JoyMultiplication;
    font-size:1.2vw;
}

.skills-icon {
    max-height:5vh;
}

#projects {
    padding:4vw;
}

#contact {
    padding:4vw;
}