@font-face {
    font-family:Lato;
    src:url('../assets/fonts/lato.ttf');
}

@font-face {
    font-family:Neuterous;
    src:url('../assets/fonts/neuterous.ttf');
}

@font-face {
    font-family:JoyMultiplication;
    src:url('../assets/fonts/joymultiplication.ttf');
}

@font-face {
    font-family:Sabrina;
    src:url('../assets/fonts/sabrina.otf');
}

@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@keyframes headerGradient {
    0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

:root {
    --navy:#030040;
    --navy-light:#252262;
    --grey:#242424;
    --grey-light:#383838;
    --navbar-blue:#363b5e;
    --navbar-blue-light:#404882;

    --black-palette1:#011627;
    --red-palette1:#FF3366;
    --teal-palette1:#2EC4B6;
    --white-palette1:#F6F7F8;
    --blue-palette1:#20A4F3;

    --blue-dark-palette2:#242582;
    --blue-palette2:#2F2FA2;
    --red-palette2:#F64C72;
    --purple-dark-palette2:#553D67;
    --purple-light-palette2:#99738E;
}

* {
    margin:0vw;
    padding:0vw;
    font-family:Lato;
    scroll-behavior:smooth;
}

hr {
    margin:2vh auto 7vh auto;
    width:50vw;
}

h1 {
    text-align:center;
    font-size:6vw;
    color:black;
}

h2 {
    font-size:1.4vw;
}

h3 {
    font-size:1vw;
}

li {
    font-size:0.85vw;
}

a {
    font-size:0.85vw;
}

nav {
    position:fixed;
    display:flex;
    gap:50vw;
    width:100%;
    height:4vw;
    transition:left 0.5s ease-in-out;
    background-color:var(--navy-light);
    z-index:1;
}

#navbar {
    display:flex;
    list-style-type:none;
    height:100%;
    min-width:10vw;
    background-color:var(--navy-light);
}

.navbar-link {
    display:flex;
    justify-content:center;
    align-items:center;
    padding:1vw;
    text-decoration:none;
    color:white;
    border-bottom:0.1vw solid transparent;
    transition:background-color 0.2s, color 0.2s, border-bottom 0.2s;
}

.navbar-link:hover {
    color:var(--red-palette2);
    border-bottom:0.1vw solid var(--red-palette2);
    transition:background-color 0.2s, color 0.2s, border-bottom 0.2s;
}

#active {
    color:var(--red-palette2);
    border-bottom:0.1vw solid var(--red-palette2);
    transition:background-color 0.2s, color 0.2s, border-bottom 0.2s;
}

#navbar-name {
    margin-left:5vw;
    display:flex;
    align-items:center;
    justify-content:center;
    font-family:JoyMultiplication;
    text-decoration:none;
    color:white;
    font-size:2vw;
    transition:color 0.5s;
}

#navbar-name:hover {
    color:var(--red-palette2);
    transition:color 0.5s;
}

#header {
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    margin:0vw;
    background-color:var(--navy);
}

#title {
    font-family:Sabrina;
    font-size:3vw;
    text-align:center;
    color:white;
    animation:fadeIn ease 2s;
}

#title-name {
    font-family:Sabrina;
    font-size:6vw;
}

#about {
    padding:4vw;
    min-height:100vh;
}

#about-body {
    display:flex;
    gap:3vw;
}

#about-image-container {
    display:flex;
    justify-content:flex-end;
    flex-basis:50%;
}

#about-image {
    border-radius:50%;
    height:20vw;
    width:20vw;
}

.divider {
    width:0.1vw;
    background-color:#DDD;
}

#about-description-container {
    flex-basis:50%;
    display:flex;
    align-items:center;
}

#about-description {
    width:75%;
}

#about-description h1 {
    text-align:left;
    font-size:4vw;
}

#about-description h2 {
    margin-bottom:3vh;
    font-size:2vw;
}

#about-description h3 {
    margin-bottom:5vh;
    font-size:1vw;
}

#resume {
    border-radius:10%;
    padding:1vw;
    background: linear-gradient(var(--navbar-blue-light) 50%,var(--navy-light) 50%);
    background-size:100% 200%;
    background-position:100% 100%;
    color:white;
    text-decoration:none;
    transition:background 0.5s, color 0.5s;
}

#resume:hover {
    color:var(--red-palette2);
    background-position:0% 0%;
    transition:background 0.5s, color 0.5s;
}

#experience {
    padding:4vw;
    min-height:100vh;
    color:white;
}

.experience-item {
    margin-top:2vw;
    padding:2vw;
    background-color:var(--navy-light);
    border-radius:1vw;
    cursor:pointer;
}

.experience-header {
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.dropdown-triangle {
    width:0; 
    height:0; 
    border-left:1vw solid transparent;
    border-right:1vw solid transparent;
    border-top:3vh solid var(--red-palette2);
    transform:rotate(0deg);
    transition:transform 0.5s;
}

.flip {
    transform:rotate(180deg);
    transition:transform 0.5s;
}

.experience-body {
    display:none;
}

.experience-body ul {
    margin-top:3vh;
    list-style-type:none;
}

#projects {
    padding:4vw;
    min-height:100vh;
}

#projects-body {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:2vh 2vw;
}

.projects-item {
    position:relative;
}

.projects-image-container {
    outline:0.2vw solid var(--navy-light);
    width:35vw;
    height:20vw;
}

.projects-image {
    height:100%;
    width:100%;
}

.projects-caption {
    display:flex;
    align-items:center;
    justify-content:center;
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color:rgba(37, 34, 98, 0.8); /*#252262*/
    font-size:2vw;
    color:var(--red-palette2);
    visibility:none;
    opacity:0;
    transition:opacity 0.5s;
}

.projects-caption:hover {
    visibility:visible;
    opacity:1;
    transition:visbility 0.5s, opacity 0.5s;
}

#skills {
    padding:4vw;
    min-height:100vh;
}

#skills-list {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    gap:4vh 5vw;
    margin-left:auto;
    margin-right:auto;
    width:75%;
    list-style-type:none;
}

.skills-item {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    gap:1vh;
    width:10vw;
    height:10vh;
    text-align:center;
    border-radius:1vw;
    background-color:var(--navy-light);
    color:white;
    opacity:0;
    transform:translateY(-3vh);
    transition:opacity 0.5s, transform 0.5s;
}

.skills-item:hover {
    background-color:var(--navbar-blue-light);
    color:var(--red-palette2);
    transition:color 0.5s, background-color 0.5s;
}

.skills-item-fade {
    opacity:100;
    transform:translateY(0);
    transition:opacity 0.5s, transform 0.5s, color 0.5s, background-color 0.5s;
}

.skills-item p {
    font-family:JoyMultiplication;
    font-size:1.2vw;
}

.skills-icon {
    max-height:4vh;
}

#contact {
    padding:4vw;
    min-height:100vh;
}

footer {
    display:flex;
    flex-direction:column;
    background-color:var(--navy-light);
}

footer p {
    font-size:1.2vw;
    text-align:center;
    color:white;
}

#footer-body {
    display:flex;
    justify-content:center;
    width:75%;
    margin:3vh auto;
}

#footer-body h1 {
    font-size:3vw;
    color:white;
}

#footer-ending {
    flex:1;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

#footer-contact-container {
    flex:1;
    display:flex;
    justify-content:center;
}

#footer-contact {
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

#socials {
    margin-top:2vh;
    display:flex;
    gap:1vw;
}

.socials-icon {
    max-width:2vw;
    transition:transform 0.2s;
    transform:scale(1);
}

.socials-icon:hover {
    transition:transform 0.2s;
    transform:scale(1.2);
}

#footer-credit {
    margin-bottom:2vh;
}