:root {
    /*Navbar Colors*/
    --navbarcolor:#222222;
    --navbaractive:#444444;
    --navbartext:#EEEEEE;

    /*Color Scheme*/
    --lightblue:#89D2DC;
    --midblue:#6564DB;
    --blue:#232ED1;
    --navy:#101D42;
    --black:#0D1317;
}

body {
    font-family: 'Lato', sans-serif;
    margin:0px;
    background-image:linear-gradient(to right, var(--navy), var(--blue), var(--navy));
}

.navbar {
    display:flex;
    flex-wrap:wrap;
    background-color:var(--navbarcolor);
}

.navbar ul {
    display:flex;
    justify-content:flex-end;
    flex:2;
    list-style:none;
    padding:0px;
    margin:0px;
    margin-right:200px;
}

.navbar li {
    display:flex;
    justify-content:center;
    align-items:center;
}

.navbar a {
    font-size:20px;
    text-decoration:none;
    color:var(--navbartext);
    padding:25px;
    flex:2;
}

.navbar a:hover {
    background-color:var(--navbartext);
    color:var(--navbarcolor);
    transition:background-color 0.3s ease-in-out;
}

.navbar h1 {
    display:flex;
    align-items:center;
    font-size:30px;
    color:var(--navbartext);
    margin:0px;
    margin-left:200px;
    flex:1;
}

.main {
    background-color:white;
    max-width:100%;
    min-height:1000px;
    padding:20px;
    margin-left:200px;
    margin-right:200px;
}

.main h1 {
    margin:0px;
}

.main p {
    margin:0px;
}

.footer {
    display:inline-block;
    text-align:center;
    background-color:var(--navbarcolor);
    color:var(--navbartext);
    bottom:0px;
    width:100%;
}

.title {
    margin-bottom:30px;
    width:100%;
}

.member-row {
    display:flex;
    flex-wrap:wrap;
    margin-top:40px;
}

.member-profile {
    text-align:center;
    flex:1;
}

.member-profile p {
    margin-top:20px;
}

.avatar img {
    width:200px;
    height:200px;
    object-fit:cover;
    border-radius:50%;
}

.sponsor {
    display:flex;
    gap:20px;
    margin-bottom:100px;
    margin-left:100px;
    margin-right:100px;
}

.sponsor-logo {
    display:flex;
    flex-wrap:wrap;
    flex:1;
}

.sponsor-logo a {
    background-color:var(--navy);
    color:white;
    text-decoration:none;
    padding:10px;
    border-radius:10px;
    border:1px solid var(--navy);
    transition:background-color 0.2s ease-in-out;
}

.sponsor-logo a:hover {
    background-color:white;
    color:var(--navy);
}

.sponsor-img-container {
    flex-basis:100%;
    flex:1;
}

.sponsor-img-container img {
    width:200px;
    height:200px;
    object-fit:cover;
}

.sponsor-link {
    flex-basis:100%;
}

.sponsor-text {
    text-align:center;
    flex:1;
}

.sponsor-text h1 {
    margin:0px;
}

.sponsor-text p {
    line-height:30px;
}

.reverse {
    flex-direction:row-reverse;
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
}

/*
.parallax {
  background-image: url("assets/cybertitans-team.jpg");
  min-height: 500px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
*/

.sponsor-text h1 {
    margin-bottom:30px;
}

#active-page {
    background-color:var(--navbaractive);
    color:var(--navbartext);
}