.spnsr {
    display:flex;
    gap:20px;
    margin:75px;
}
.spnsr-logo {
    display:flex;
    flex-wrap:wrap;
    flex:1;
}

.spnsr-logo a {
    background-color:var(--navy);
    color:white;
    text-decoration:none;
    padding:10px;
    border-radius:10px;
    border:1px solid var(--navy);
    transition:background-color 0.2s ease-in-out;
}

.spnsr-logo a:hover {
    background-color:white;
    color:var(--navy);
}

.spnsr-img-container {
    flex-basis:100%;
    flex:1;
}

.spnsr-img-container img {
    width:250px;
    height:250px;
    object-fit:cover;
}

.spnsr-text {
    text-align:center;
    vertical-align:middle;
    flex:1;
}

.spnsr-text h1 {
    margin:0px;
    margin-bottom:30px;
}

.spnsr-text p {
    font-size:20px;
    line-height:30px;
}

.reverse {
    flex-direction:row-reverse;
}

.center {
    display:flex;
    justify-content:center;
    align-items:center;
}